<div class="flip"> 
        <div class="card"> 
            <div class="face front"> 
<h3>Varför inte testa en sökning?</h3>
          <div class="circleL"></div>

            </div> 
            <div class="face back"> 
                <h3>Gör en sökning!</h3>
                <fieldset class="browse">
                 <input type="text" class="form-control" placeholder="sök fritext" ng-model="req.searchText">
                     <button type="button" class="btn" ng-click="search()">Sök</button>
                 </fieldset>

            </div> 
        </div> 
    </div> 

    <div class="flip"> 
        <div class="card"> 
            <div class="face front"> 
          <h3>Inte medlem? Bli det nu</h3>
          <div class="circleR"></div>
            </div> 
            <div class="face back">

            </div> 
        </div> 
    </div> 

