<h1>Registrering Företag</h1>
<!--här ska jag ha en form KANSKE? -->
 <div class="row"> 
  <div class="container" ng-model="user_table" ng-value="user_company"> 
    <div class="col-md-10">
      {{ user_table }}
     <form role="form" name="regForm" ng-submit="updateRegForm()">

 
        <legend>Registrering</legend>
      <label for='name'>Företagsnamn</label>
        <input type='text' name='name' class="form-control" ng-model="user.name" maxlength="60"/>

        <label for='contact_person'>Kontaktperson</label>
        <input type='text' name='contact_person' class="form-control" ng-model="user.contact_person" maxlength="30"/>
        
         <label for='org_nr'>Organisationsnummer</label>
          <input type='org_nr' name='org_nr' class="form-control" ng-model="user.org_nr" placeholder="Organisationsnummer" ng-minlength="10" ng-maxlength="30"/>
            <div ng-show="form.org_nr.$error.minlength">Fel organisationsnummer.</div>
            <div ng-show="form.org_nr.$error.maxlength">Fel organisationsnummer</div>
            <div ng-show="form.org_nr.$error.required">Fyll i organisationsnummer.</div>

        <label for='email'>Email</label>
        <input type='text' name='email' class="form-control" ng-model="user.email"maxlength="60"/>

        <label for='phone'>Telefonnummer</label>
        <input type='phone' name='phone' class="form-control" ng-model="..phone" placeholder="Telefonnummer" ng-minlength="10" ng-maxlength="16"/>
            <div ng-show="form.phone.$error.minlength">Fel telefonnummer.</div>
            <div ng-show="form.phone.$error.maxlength">Fel telefonnummer.</div>
            <div ng-show="form.phone.$error.required">Fyll i telefonnummer.</div>


        <label for='användarnamn'>Användarnamn</label>
        <input type='text' name='användarnamn' class="form-control" ng-model="user.username" maxlength="30"/>

        <label for='lösenord'>Lösenord</label>
        <input type='lösenord' name='lösenord' class="form-control" ng-model="user.password" maxlength="30"/>

        <label for='lösenord'>Repetera lösenord</label>
        <input type='lösenord' name='lösenord' class="form-control" maxlength="30"/><!--Ska fixas med bootstrap-->

    

        <div class="warning ng-binding">
        {{ message }}
      </div>

        <label for='form-control'ng-model="user.experience">Den du söker bör ha erfarenhet i år?</label>
        <select class="form-control">
          <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>5+</option>
    </select>

    <div class="block">
        <h4>Vad behöver du för typ av medarbetare?</h4>

        <p>BackEnd, är en person som jobbar med databas och kopplingen mellan websidan och databasen.<br>
        FrontEnd, är den som arbetar med själva funktionaliteten på sidan och allt som syns på skärmen<br>
        GraphicsDesigner, är den som stylar din applikation/websida, jobbar helt enkelt med grafik.</p>

        <!--SKa in fler checkboxes här-->
         <div class="checkbox"><label>
                <input type="checkbox"ng-model="user.FrontEnd">FrontEnd
             </label>
          </div>

           <div class="checkbox"><label>
                <input type="checkbox"ng-model="user.css3">BackEnd
             </label>
          </div>

           <div class="checkbox"><label>
                <input type="checkbox"ng-model="user.javascript">GraphicsDesigner
            </div>

           <div class="checkbox"><label>
                <input type="checkbox"ng-model="user.php"> Php
             </label>
           </div>

          <button ng-click="save()" class="btn btn-success">Spara</button>


      </form>
    </div> 
  </div> 
</div> 