<!DOCTYPE html>
<html class="no-js" ng-app="computenzApp">  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--  Fyll i sökvägen från din htdocs till appen --> 
    <base href="/Kodapor/" /> 
    <script src="php/caljac/"></script>
    <script src="modernizr.custom.js"></script>
  </head>
  <body ng-controller="appCtrl">
    <div class="navbar navbar-default navbar-fixed_top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Kodapor</a> 

        </div> 
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
        </div><!--.navbar-header-->
      <div class="navbar-collapse collapse" id="navbar-main">
        <!-- go to login view if not already logged in, else logout and return to homepage -->
        <ul class="nav navbar-nav">
          <li><a ng-href="{{ loginStatus() ? 'myprofile' : '' }}">{{ loginStatus() ? "Min profil" : "" }}</a></li>
          <li><a href="browse">Sök profiler</a></li>
          <li><a ng-href="{{whereToGo.link}}" ng-click="whereToGo.text == 'Logga ut' && logOut()"> {{ whereToGo.text }} </a></li>

          <li class="divider"></li>
          <li><a ng-href="new_ad">Lägg till nytt annons</a></li>
          <li><a ng-href="show_ad"> Annonser </a></li>
        </ul>
        <p class="navbar-text navbar-left"> {{ loginStatus() ? "Inloggad som " + getFullName() : "Inte inloggad" }} </p>

        <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" name="username" ng-model="username" class="form-control" placeholder="Användarnamn" required>
            </div>
            <div class="form-group">
              <input  type="password" name="password" ng-model="password" ng-minlength="6" class="form-control" placeholder="Lösenord"required>
            </div>
            <button ng-click="sendForm(username,password)"  class="btn btn-success">Logga in</button>
            
          </form>
      </ul>
      </div><!--.navbar-collapse-->
    </div><!--.container-->
    </div><!--.navbar-->

      
        
        <!-- go to login view if not already logged in, else logout and return to homepage -->
          
           
  <div class="container"></div>
    {{ username }}
    {{ sendForm }}
      <div class="views" ng-view></div>
        <div class="navbar navbar-default myFooter">
            <p class="navbar-text">All rights reserved - Kodapor </p>
        </div>
  </body>
</html>